# Build output
Output_ninja/
build/
bin/
obj/

# RE-UE4SS (это огромный фреймворк, его не нужно заливать)
RE-UE4SS/

# Visual Studio
.vs/
*.vcxproj.user
*.aps
*.ncb
*.opendb
ipch/
build.ps1

# Compiled objects
*.obj
*.o
*.d
*.lo
*.slo

# Logs
*.log

# OS
Thumbs.db
desktop.ini